.container{
    width: 49px;
    height: 24px;
    border: 1.5px solid #53c28b70;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2px;
    position: relative;
    top: -28px;
    right: 85px;
    cursor: pointer;

}

.icon{
   height: 25px;
}



.ball{
    width: 18px;
    height: 18px;
    background-color: #53c28b;
    border-radius: 50%;
    position: absolute;
    padding-left: 20px;
}